body.format-gps .mform .fitem  {
	margin-top: 4px;
	margin-bottom: 4px;
}

body.format-gps .mform .fitem .fitemtitle {
	width: auto;
	text-align: left;
	float: none;
	padding-bottom: 3px;
}

body.format-gps .mform .fitem .felement,
body.format-gps .mform .fitem fieldset.felement {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body.format-gps .mform .fitem .felement input[type="text"] {
	width: 200px;
	margin: 0px;
	padding: 0px;
}

body.format-gps .mform .fitem .felement input[type="text"][name="radius"] {
	width: 107px;
}